$body-bg: #f7f7f7;
$material-icons-font-path: '~material-icons/iconfont/';

@import '~bootstrap/scss/bootstrap';
@import '~material-icons/iconfont/material-icons.scss';

/*
 * Bootstrap overrides
 */

body {    

    /* Make space for pages with a fixed position top menu */
    &.nav-fixed {
        padding-top: 4.2rem;

        /* Stop headings with anchor links from being overlapped by a fixed menu */
        h2[id]::before{
            display: block;
            content: " ";
            margin-top: -9rem;
            height: 9rem;
            visibility: hidden;
            pointer-events: none;
        }
    }

    &.nav-fixed.nav-submenu {
        padding-top: 8rem;
    }    
}

/* Top nav bar */
.navbar-light {
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;

    .navbar-nav .nav-link {
        color: #222;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: #ccc;
}

.navbar-nav {
    flex-direction: row;

    .dropdown-menu {
        position: absolute;
    }

    .nav-item {
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }        
    }
}

/* Fix FOC as material icons load */
.material-icons {
    vertical-align: middle;
    height: 24px;
    width: 24px;
    overflow: hidden;
    vertical-align: middle;
}

.badge {
    border-radius: 10px;
}

.bg-success {
    background-color: #00a650 !important;
}

.text-muted a {
    color: #767676;
}

.ml-3-neg {
    margin-left: -20px;
}

.mr-3-neg {
    margin-right: -20px;
}

.btn-group * {
    flex-grow: 1 !important;
}

/* Controls link underlines */
a.no-decoration {
    text-decoration: none;

    &:hover .hover-underline {
        text-decoration: underline;
    }
}

/* White content cards */
.card {
    border: 0;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,.05);
}

@media (max-width: 767.98px) {
    body.nav-fixed.nav-submenu {
        padding-top: 4.2rem;
    }

    .card-deck {
        display: block;

        margin-left: -17px;
        margin-right: -17px;

        .card {
           margin: 0 0 1rem 0;
        }
    }
}
